body {
    font-size: 16px;
    padding: 1% 5% 5% 5%;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
  padding-bottom: 20px;
}
h2 {
  font-family: 'Gloria Hallelujah', cursive;
}
.container {
  max-width: 700px;
  margin: 0 auto;
}

.container p {
    text-align: center;
    padding: 0;
}

ol {
  padding-left: 15px;
}
ol li {
  padding-bottom: 8px;
}
code {
  background-color: #e6f9ff;
  color: #ff5500;
}

/****** Logo Div Styling ******/


.clementine-text { /* Styling for the Clementine.js text */
    font-family: 'Gloria Hallelujah', cursive;
    text-shadow: 3px 3px #e6e6e6;
    padding: 0;
    font-weight: 500;
    font-size: 50px;
    color: #00ace6;
    line-height: 50px;
}
